 HTML #portal-columns {
	WIDTH: 100%
}
 HTML #portal-columns {
	WIDTH: auto
}
INPUT {
	MARGIN-BOTTOM: 1px
}
TABLE.listing TD.top {
	LEFT: -1px; POSITION: relative; TOP: -1px
}
DIV#portal-columns DIV#portal-column-one {
	OVERFLOW: hidden
}
DIV#portal-columns DIV#portal-column-two {
	OVERFLOW: hidden
}
TEXTAREA {
	WIDTH: 97%
}
.visualOverflow {
	WIDTH: 88%
}
.visualGhosted {
	FILTER: alpha(opacity=20)
}
 HTML abbr .explain {
	BORDER-BOTTOM: black 1px dotted
}
#portal-globalnav LI.selected A {
	POSITION: relative
}
#portal-colophon .colophonIcon {
	HEIGHT: 0px! important
}
.actionMenu .actionMenuHeader A {
	DISPLAY: inline
}
.actionMenu .actionMenuContent {
	TOP: 1.4em
}
.ploneCalendar {
	WIDTH: auto; BORDER-COLLAPSE: collapse; HEIGHT: 1%
}
.ploneCalendar TD {
	WIDTH: 1%
}
.ploneCalendar .todaynoevent {
	POSITION: relative
}
.ploneCalendar .todayevent {
	POSITION: relative
}
.hiddenStructure {
	POSITION: absolute
}
#floatholder {
	HEIGHT: 1%
}
#float {
	HEIGHT: 1%
}
 HTML .link-external {
	HEIGHT: 1%
}
 HTML .link-external A {
	HEIGHT: 1%
}
 HTML .link-mailto A {
	HEIGHT: 1%
}
 HTML .link-mailto {
	HEIGHT: 1%
}
 HTML .visualIEFloatFix {
	HEIGHT: 0.1%
}
 HTML H1 {
	HEIGHT: 0.1%
}
 HTML H2 {
	HEIGHT: 0.1%
}
 HTML H3 {
	HEIGHT: 0.1%
}
 HTML H4 {
	HEIGHT: 0.1%
}
 HTML H5 {
	HEIGHT: 0.1%
}
 HTML H6 {
	HEIGHT: 0.1%
}
 HTML DD {
	HEIGHT: 0.1%
}
 HTML .documentDescription {
	HEIGHT: 0.1%
}
 HTML .visualClear {
	HEIGHT: 0.1%
}
 HTML .portalMessage {
	HEIGHT: 0.1%
}
 HTML .portalWarningMessage {
	HEIGHT: 0.1%
}
 HTML .portalStopMessage {
	HEIGHT: 0.1%
}
 HTML .system-message {
	HEIGHT: 0.1%
}
 HTML #error-handling {
	HEIGHT: 0.1%
}
 HTML .documentContent {
	HEIGHT: 0.1%
}
 HTML P {
	POSITION: relative
}
 HTML H1.documentFirstHeading {
	HEIGHT: auto
}
DD.portletFooter {
	BORDER-TOP-STYLE: solid
}
 HTML .portletHeader {
	HEIGHT: 1%
}
.portletTopRight {
	TOP: 0px
}
.portletTopLeft {
	TOP: 0px
}
.portletTopRight {
	FONT-SIZE: 1px
}
.portletTopLeft {
	FONT-SIZE: 1px
}
.portletBottomRight {
	FONT-SIZE: 1px
}
.portletBottomLeft {
	FONT-SIZE: 1px
}
 HTML #portal-searchbox {
	OVERFLOW: auto
}
 HTML BODY.fullscreen #portal-searchbox {
	OVERFLOW: visible
}
TABLE.ploneCalendar CAPTION {
	DISPLAY: none! important
}
 HTML DL.portalMessage DT {
	MARGIN-RIGHT: 0px
}
