BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 15px; BACKGROUND: #e5ecf3; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: "Trebuchet MS", Tahoma, Arial, Serif
}
#header #banner {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
H4 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-STYLE: italic
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
A {
	COLOR: #4382b0; TEXT-DECORATION: none
}
INPUT.botao {
	VERTICAL-ALIGN: middle
}
INPUT.campo {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; COLOR: #686869; MARGIN-RIGHT: 5px; PADDING-TOP: 1px; BORDER-BOTTOM: medium none
}
INPUT.artigo {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #686869; MARGIN-RIGHT: 5px; PADDING-TOP: 1px
}
INPUT.selecionado {
	COLOR: #686869
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #3a77a6
}
#logo {
	DISPLAY: block; BACKGROUND: url(../images/guj/logo.gif) no-repeat 0px 15px; MARGIN: 0px 5px; WIDTH: 230px; TEXT-INDENT: -9999px; PADDING-TOP: 0px; HEIGHT: 70px
}
#header H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 10px
}
#header .container1 {
	BACKGROUND: url(../images/guj/header_inferior_esquerdo.gif) no-repeat left bottom
}
#header .container2 {
	BACKGROUND: url(../images/guj/header_inferior_direito.gif) no-repeat right bottom
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 46px; BACKGROUND-COLOR: #f4f4e6
}
#footer P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/guj/menu_verde_background.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 44px
}
#menu A:hover {
	TEXT-DECORATION: underline
}
#menu UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 20px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; VERTICAL-ALIGN: middle; COLOR: #fff; LINE-HEIGHT: 38px; PADDING-TOP: 0px; FONT-VARIANT: small-caps
}
#menu UL LI A {
	COLOR: #fff
}
#menu UL LI.home {
	BACKGROUND: url(../images/guj/house.gif) no-repeat left center
}
#menu UL LI.forum {
	BACKGROUND: url(../images/guj/comment_menu.gif) no-repeat left center
}
#menu UL LI.artigos {
	BACKGROUND: url(../images/guj/layout_edit_header.gif) no-repeat left center
}
#menu UL LI.noticias {
	BACKGROUND: url(../images/guj/book_open_header.gif) no-repeat left center
}
#menu UL LI.topics {
	BACKGROUND: url(../images/guj/recent_topics.gif) no-repeat left center
}
#menu UL LI.empregos {
	BACKGROUND: url(../images/guj/group.gif) no-repeat left center
}
#menu UL LI.blogs {
	BACKGROUND: url(../images/guj/page.gif) no-repeat left center
}
#menu FORM.busca {
	DISPLAY: inline; PADDING-LEFT: 25px
}
#menu FORM.busca INPUT.campo {
	PADDING-LEFT: 19px; BACKGROUND: url(../images/guj/zoom.gif) #fff no-repeat 2px 1px; WIDTH: 150px
}
#submenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; BACKGROUND: url(../images/guj/submenu_background.gif) repeat-x; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 40px
}
#submenu A:link {
	FONT-SIZE: 13px; COLOR: #333
}
#submenu A:visited {
	FONT-SIZE: 13px; COLOR: #333
}
#submenu A:hover {
	TEXT-DECORATION: underline
}
#submenu .container1 {
	BACKGROUND: url(../images/guj/submenu_inferior_esquerdo.gif) no-repeat left bottom
}
#submenu .container2 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/guj/submenu_inferior_direito.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#submenu .container2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#submenu .container2 LI {
	PADDING-RIGHT: 7px; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: url(../images/menutopo-separador.png) no-repeat right 50%; FLOAT: left; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#submenu .container2 LI:unknown {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#submenu .container2 LI.last-child {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#submenu .notice {
	DISPLAY: block; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
#submenu FORM.login {
	DISPLAY: inline; PADDING-LEFT: 15px
}
#submenu FORM.login INPUT {
	PADDING-LEFT: 5px
}
#submenu FORM.login .rounded {
	BACKGROUND: url(../images/guj/input.gif) no-repeat left top
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#content A:hover {
	BORDER-BOTTOM: #ececcb 2px solid
}
#content .box {
	FONT-SIZE: 0.9em; FLOAT: left; MARGIN: 0px 0px 20px; WIDTH: 97%
}
#content .box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content .box UL LI {
	MARGIN: 5px 0px 0px
}
#content .box H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#content #home .forum {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 32%; MARGIN-RIGHT: 8px
}
#content #home .forum UL LI A {
	FONT-WEIGHT: bold
}
#content .forum .autor {
	FONT-SIZE: 12px
}
#content .forum .data {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#content .forum UL LI {
	LIST-STYLE-IMAGE: url(../images/guj/comment.gif)
}
#content .infoq UL LI {
	LIST-STYLE-IMAGE: url(../images/guj/bullet_ball_blue.gif)
}
#content #home .news {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 33%; MARGIN-RIGHT: 8px
}
#content #home .news UL LI .noticia {
	FONT-WEIGHT: bold
}
#content .news .data {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#content .news UL LI {
	LIST-STYLE-IMAGE: url(../images/guj/book_open.gif)
}
#content #home .articles {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 31%
}
#content .articles H3 {
	DISPLAY: inline; FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
#content .articles .categoryHeader {
	FONT-SIZE: 16px; BACKGROUND-COLOR: #e7e1ba
}
#content .articles .categoryArticles {
	MARGIN-LEFT: 30px
}
#content .articles .content {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
#content .pdf H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .pdf A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FONT-SIZE: 12px; BACKGROUND: url(../images/pdf.png) no-repeat left top; PADDING-BOTTOM: 15px; PADDING-TOP: 10px
}
#content .articles .vote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(../images/guj/thumb_up.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .articles UL {
	LIST-STYLE-IMAGE: url(../images/guj/layout_edit.gif)
}
.defaultul {
	LIST-STYLE-TYPE: none
}
#content .articles .tags UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content .articles .tags LI {
	PADDING-RIGHT: 7px; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND: url(../images/menutopo-separador.png) no-repeat right 50%; FLOAT: left; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#content .articles .tags LI:unknown {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#content .articles .tags LI.last-child {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#content #home .posts {
	CLEAR: left; FONT-SIZE: 12px; FLOAT: left; WIDTH: 50%; MARGIN-RIGHT: 8px
}
#content .posts UL LI {
	LIST-STYLE-IMAGE: url(../images/guj/page.gif)
}
#content #home .posts UL LI .post {
	FONT-WEIGHT: bold
}
#content .posts .blog {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
#content .posts .data {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#content .posts .content {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#content .posts .vote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/guj/thumb_up.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content #home .infoq {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 49%
}
#content #home .infoq UL LI A {
	FONT-WEIGHT: bold
}
#content .jobs UL LI {
	LIST-STYLE-IMAGE: url(../images/guj/group_white.gif); MARGIN-BOTTOM: 10px
}
#content .captcha {
	TEXT-ALIGN: center
}
#content .captcha A.reload {
	FONT-SIZE: 0.7em
}
#content .captcha DIV.fieldWithErrors {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content .captcha DIV.formError {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.6em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #dd1100; PADDING-TOP: 0px; FONT-STYLE: italic
}
#content .captcha DIV.fieldWithErrors INPUT {
	BORDER-RIGHT: #dd1100 1px solid; BORDER-TOP: #dd1100 1px solid; BORDER-LEFT: #dd1100 1px solid; BORDER-BOTTOM: #dd1100 1px solid
}
#content .intern {
	FLOAT: left; MARGIN: 0px 0px 15px; WIDTH: 68%
}
#content .intern .miolo {
	MARGIN: 0px 10px
}
.right-bar {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 30%; MARGIN-RIGHT: 5px
}
.right-bar .rounded {
	BACKGROUND: url(../images/guj/box_gradient.gif) repeat-x 50% top
}
.right-bar H2 {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; TEXT-ALIGN: center
}
.right-bar A {
	FONT-WEIGHT: bold
}
.right-bar LI {
	MARGIN-RIGHT: 10px
}
.pagination {
	FONT-SIZE: 12px
}
.pagination .disabled {
	DISPLAY: none
}
.pagination .current {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #2e6ab1
}
.pagination A {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
.pagination A:hover {
	BORDER-RIGHT: #dd6900 1px solid; BORDER-TOP: #dd6900 1px solid; BORDER-LEFT: #dd6900 1px solid; BORDER-BOTTOM: #dd6900 1px solid; BACKGROUND-COLOR: lightyellow
}
.spiffy {
	DISPLAY: block
}
.spiffy  {
	DISPLAY: block; FONT-SIZE: 0.01em; BACKGROUND: #ffffff; OVERFLOW: hidden; HEIGHT: 1px
}
.spiffy1 {
	BORDER-RIGHT: #f0f4f8 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #f8fafc; MARGIN-LEFT: 3px; BORDER-LEFT: #f0f4f8 1px solid; MARGIN-RIGHT: 3px
}
.spiffy2 {
	BORDER-RIGHT: #e7edf4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #fafbfc; MARGIN-LEFT: 1px; BORDER-LEFT: #e7edf4 1px solid; MARGIN-RIGHT: 1px
}
.spiffy3 {
	BORDER-RIGHT: #fafbfc 1px solid; MARGIN-LEFT: 1px; BORDER-LEFT: #fafbfc 1px solid; MARGIN-RIGHT: 1px
}
.spiffy4 {
	BORDER-RIGHT: #f0f4f8 1px solid; BORDER-LEFT: #f0f4f8 1px solid
}
.spiffy5 {
	BORDER-RIGHT: #f8fafc 1px solid; BORDER-LEFT: #f8fafc 1px solid
}
.spiffyfg {
	BACKGROUND: #ffffff
}
.inner-content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
